# Tasks 2020

## Task One
Write a Python function called sqrt2 that calculates and
prints to the screen the square root of 2 to 100 decimal places. Your code should
not depend on any module from the standard library1 or otherwise. You should
research the task first and include references and a description of your algorithm.

In [70]:
def sqrt2(x):
    #Initial guess for the the square root of z
    z = x / 2
    #Loop until we're happy with the accuracy.
    while abs(x - (z * z))>0.0000001:
        #Calculate a better guess for the square root.
        z -= (z * z - x) / (2 * z)
    #Return the approximate square for root x and round it to 100 places
    return format(z, '.100f')

In [71]:
#Calling the square root function "sqrt2" with input of 2
sqrt2(2)

'1.4142135623746898698271934335934929549694061279296875000000000000000000000000000000000000000000000000'

In [72]:
#Calling the square root function "sqrt2" with input of 2
sqrt2(4)

'2.0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000'

In [73]:
#Calling the square root function "sqrt2" with input of 2
sqrt2(16)

'4.0000000000000044408920985006261616945266723632812500000000000000000000000000000000000000000000000000'

In [74]:
#Importing and calling the sqrt function from the math library to compare
import math
math.sqrt(2)

1.4142135623730951

## Task Two

The Chi-squared test for independence is a statistical
hypothesis test like a t-test. It is used to analyse whether two categorical variables
are independent. The Wikipedia article gives the table below as an example [4],
stating the Chi-squared value based on it is approximately 24.6. Use scipy.stats
to verify this value and calculate the associated p value. You should include a short
note with references justifying your analysis in a markdown cell.
![title](images/task2.png)

In [75]:
from scipy.stats import chi2_contingency
import pandas as pd

#### Create a data frame similar to the one in the description

In [76]:
collars = pd.DataFrame(
    [
        [90,60,104,95],
        [30,50,51,20],
        [30,40,45,35]
    ],
    index=["White Collar","Blue Collar","No Collar"],
    columns=["A","B","C","D"])
collars

               A   B    C   D
White Collar  90  60  104  95
Blue Collar   30  50   51  20
No Collar     30  40   45  35

#### chi2_contingency
SciPy‚Äôs chi2_contingency() returns four values, ùúí2 value, p-value, degree of freedom and expected values.

Returned values below

In [77]:
chi2_contingency(collars)

(24.5712028585826,
 0.0004098425861096696,
 6,
 array([[ 80.53846154,  80.53846154, 107.38461538,  80.53846154],
        [ 34.84615385,  34.84615385,  46.46153846,  34.84615385],
        [ 34.61538462,  34.61538462,  46.15384615,  34.61538462]]))

#### Expected Values
You can find the expected values at the forth in the returned value. It is in an array form so i will create a new table to display them.

The table below is called a contingency table, These values come from the following equation
![title](images/task2-equation.png)

So for example "White Collar (A)" would be (349*150)/650 = 80.54

In [78]:
df=chi2_contingency(collars)[3]
pd.DataFrame(
    data=df[:,:], 
    index=["White Collar","Blue Collar","No Collar"],
    columns=["A","B","C","D"]
).round(2)

                  A      B       C      D
White Collar  80.54  80.54  107.38  80.54
Blue Collar   34.85  34.85   46.46  34.85
No Collar     34.62  34.62   46.15  34.62

#### Chi-squared value

The Chi Square value is the first returned value

In [79]:
chi2_contingency(collars)

(24.5712028585826,
 0.0004098425861096696,
 6,
 array([[ 80.53846154,  80.53846154, 107.38461538,  80.53846154],
        [ 34.84615385,  34.84615385,  46.46153846,  34.84615385],
        [ 34.61538462,  34.61538462,  46.15384615,  34.61538462]]))

In [80]:
chisquare=chi2_contingency(collars)[0]
chisquare.round(1)

24.6

#### P-Value
p-value measures the probability of seeing the effect when the null hypothesis is true.
You can find the p-value at the second in the returned value.

In [81]:
chi2_contingency(collars)

(24.5712028585826,
 0.0004098425861096696,
 6,
 array([[ 80.53846154,  80.53846154, 107.38461538,  80.53846154],
        [ 34.84615385,  34.84615385,  46.46153846,  34.84615385],
        [ 34.61538462,  34.61538462,  46.15384615,  34.61538462]]))

In [82]:
pvalue=chi2_contingency(collars)[1]
pvalue

0.0004098425861096696

### Chi-Squared Value simplified

Below i show how to get the chi squared value in only two lines of code, Third line is rounding the value to one decimal place

In [83]:
CollarRows =[[90,60,104,95],[30,50,51,20],[30,40,45,35]]
ChiValue = chi2_contingency(a)[0]
ChiValue.round(1)

24.6

### References

1. https://tour.golang.org/flowcontrol/8
2. https://docs.python.org/3/tutorial/floatingpoint.html
3. https://realpython.com/python-square-root-function/
4. https://en.wikipedia.org/wiki/Chi-squared_test
5. https://towardsdatascience.com/gentle-introduction-to-chi-square-test-for-independence-7182a7414a95